# Folders
.archive/
.claude/
.gemini/
.idea/
.tmp/
.plans/
.venv/
.vscode/


# Python
.venv/
__pycache__/
.pytest_cache/
.coverage
.ruff_cache/


.env
*.log
*.bak

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
tfplan
