# Folders
.archive/
.claude/
.gemini/
.idea/
.tmp/
.plans/
.venv/
.vscode/
/workflows/

.DS_Store
.env
*.log
*.bak

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
tfplan

docs/blog.md
