name: Validate Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Install Task
        uses: arduino/setup-task@v2

      - name: Initialize
        run: task init

      - name: Validate Terraform
        run: task validate
